/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/02/23, 14:14:17
    Author     : Michinori
*/
@charset "UTF-8";

body    {font-family: 'メイリオ',sans-serif}

/* レイアウト　*/

.site, .navigation, .Box
{width: 1000px;
 margin-left: auto;
 margin-right: auto}


.Box:after  {content: "";
             display: block;
             clear: both}

.main   {float: left}
.sidemenu{float: left}

/* サイト名　*/
.site h1 a {color: #000000;
            background-color: #FFFFFF;
            text-decoration: none}

.site h1    {margin: 0;
             font-size: 30px}

/* ナビゲーション　*/

.navigation{background-color:#32CD32 }

.menu ul    {margin: 0;
             padding: 0;
             list-style: none}

.menu li a{display: block;
           padding: 5px;
           color: #000000;
           font-size: 14px;
           text-decoration: none}

.menu li a:hover    {background-color: #eeeeee}

.menu ul:after      {content:"";
                     display:block;
                     clear:both}

.menu li    {float: left;
             width:auto}

/* メイン　*/

.main   {margin-top: 15px;
         margin-right: 20px;
         border: 2px solid #32CD32}

.main {position: relative}

.main li a:hover    {background-color: #32CD32}

.main h1 {margin: 0;
          margin-bottom: 20px;
          font-size: 36px;
          color: #32CD32}

.example{position: absolute;
top:120px;
left:260px}

/* サイド　*/
.sidemenu ul    {margin: 0;
                 padding: 0;
                 list-style: none}

.sidemenu li a{display: block;
               padding: 5px;
               color: #000000;
               font-size: 14px;
               font-weight: bold;
               text-align: center;
               text-decoration:none }

.sidemenu li a:hover    {background-color: #32CD32}

.sidemenu h1 {margin-top: 15px;
              margin-bottom: 5px;
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              color: #000000}

.sidemenu .text {
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              color: #000000}